html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 100%;
  height: 550px;
  margin-top: 10px;
  margin-left: 10px;
}

#main {
  width: 100%;
  float: left;
}

#sequence {
  height: 70px;
}

#sequence > svg {
  width: 100%;
}

#sequence text {
  font-weight: 600;
  fill: #fff;
}

#domain {
  position: absolute;
  left: 10px;
  top: 50px;
  font-size: 20px;
}

#chart {
  position: relative;
}

#chart > svg {
  display: block;
  margin: 0 auto;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 230px;
  left: 50%;
  width: 140px;
  margin-left: -70px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
